# Configurações sensíveis (NUNCA enviar para o Git)
.env
config.py
get_refresh_token.py

# Pastas de Debug e Imagens Temporárias
debug_frames/
images_debug/
*.png
*.jpg
*.jpeg

# Ambiente Virtual e Dependências
venv/
.venv/
env/
ENV/
bin/
lib/
include/
share/
pyvenv.cfg

# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db

# Distribuição / build
build/
dist/
*.egg-info/
